<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wpisz szyfr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="centered-form">
  <h1>Wybierz klasę i wpisz szyfr</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="notification {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="task-form">
    <form action="{{ url_for('submit_code') }}" method="POST">
      <div class="form-group">
        <label for="player_id">Klasa:</label>
        <select id="player_id" name="player_id" class="form-control" required>
          <option value="">Wybierz klasę</option>
          {% for player in players %}
          <option value="{{ player.id }}">{{ player.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="code">Szyfr:</label>
        <input type="text" id="code" name="code" class="form-control" required>
      </div>
      <button type="submit" class="submit-btn">Zatwierdź</button>
    </form>
  </div>

  <script>
    // Remove notifications after 10 seconds
    document.addEventListener('DOMContentLoaded', function() {
      const notifications = document.querySelectorAll('.notification');
      notifications.forEach(notification => {
        setTimeout(() => {
          notification.remove();
        }, 10000); // 10000 milliseconds = 10 seconds
      });
    });
  </script>
</body>
</html>