<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gra</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <button onclick="window.open('/zadania', '_blank')">Zadania</button>
    <button onclick="window.open('/haslo', '_blank')">Hasła</button>
    <button onclick="window.open('/szyfr', '_blank')">Szyfry</button>
  </nav>
  <h1 class="extra-margin">Dzień matematyki 2025</h1>
  <div class="task-notifications" id="task-notifications">
    {% if recent_tasks %}
      {% for task in recent_tasks %}
      <div class="task-completion-alert">
        Klasa {{ task.player.name }} ukończyła {{ task_names[task.task_id] }}
      </div>
      {% endfor %}
    {% endif %}
  </div>
  <h3 id="dice-result" class="dice-roll-result-alert hidden"></h3>
  <div class="main-container">
    <div class="column chalkboard">
      <div class="snake-path">
      </div>
      <div class="pawns">
        {% for player in players %}
        <div class="pawn pawn-{{ loop.index }}" data-player-id="{{ player.id }}" data-position="0"><span>{{ player.name }}</span></div>
        {% endfor %}
      </div>
    </div>
    <div class="column controls">
      <div class="dice-container">
        <div class="dice">
          <ol class="die-list even-roll" data-roll="1" id="die-1">
            <li class="die-item" data-side="1">
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="2">
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="3">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="4">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="5">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="6">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
          </ol>
        </div>
      </div>
      <table id="score-table">
        <thead>
          <tr>
            <th>Klasa</th>
            <th>Pole</th>
            <th>Bonus +1</th>
            <th>Bonus +2</th>
            <th>Bonus +3</th>
            <th>Rzut kostką</th>
            <th>Bonusy</th>
          </tr>
        </thead>
        <tbody id="player-scores">
          {% for player in players %}
          <tr data-player-id="{{ player.id }}">
            <td>{{ player.name }}</td>
            <td class="player-result">{{ player.result }}</td>
            <td>
              <input type="checkbox" id="bonus-plus-one-{{ player.id }}" data-player-id="{{ player.id }}" {% if player.bonus_plus_one %}checked{% endif %} onchange="updateBonus('{{ player.id }}', 'bonus_plus_one', this.checked)">
            </td>
            <td>
              <input type="checkbox" id="bonus-plus-two-{{ player.id }}" data-player-id="{{ player.id }}" {% if player.bonus_plus_two %}checked{% endif %} onchange="updateBonus('{{ player.id }}', 'bonus_plus_two', this.checked)">
            </td>
            <td>
              <input type="checkbox" id="bonus-plus-three-{{ player.id }}" data-player-id="{{ player.id }}" {% if player.bonus_plus_three %}checked{% endif %} onchange="updateBonus('{{ player.id }}', 'bonus_plus_three', this.checked)">
            </td>
            <td class="player-actions">
              <div>
                <button id="roll-{{ player.id }}" data-player-id="{{ player.id }}" onclick="rollDiceForPlayer('{{ player.id }}')" {% if player.roll_disabled %}disabled{% endif %}>Rzuć kostką</button>
                <button id="unblock-{{ player.id }}" onclick="enablePlayerButton('{{ player.id }}')" class="unblock-button" {% if not player.task_done %}disabled{% endif %}>Odblokuj</button>
              </div>
            </td>
            <td>
              <div class="bonus-actions">
                <button id="bonus-one-{{ player.id }}" onclick="activateBonus('{{ player.id }}', 'bonus_plus_one')" {% if player.roll_disabled or not player.bonus_plus_one %}disabled{% endif %}>Aktywuj +1</button>
                <button id="bonus-two-{{ player.id }}" onclick="activateBonus('{{ player.id }}', 'bonus_plus_two')" {% if player.roll_disabled or not player.bonus_plus_two %}disabled{% endif %}>Aktywuj +2</button>
                <button id="bonus-three-{{ player.id }}" onclick="activateBonus('{{ player.id }}', 'bonus_plus_three')" {% if player.roll_disabled or not player.bonus_plus_three %}disabled{% endif %}>Aktywuj +3</button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button id="show-notifications" class="notification-item">Pokaż wszystkie powiadomienia</button>
      <button id="reset-game">Resetuj grę</button>
    </div>
  </div>
  
  <div id="notificationsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Powiadomienia</h2>
        <div id="notifications-list"></div>
    </div>
</div>

  <script type="module" src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/api.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/board.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/players.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/dice.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/notification.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>