<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gra</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>

  </style>
</head>
<body>
    <div class="task-notifications" id="task-notifications">
      {% if recent_tasks %}
        {% for task in recent_tasks %}
        <div class="task-alert">
          Klasa {{ task.player.name }} ukończyła {{ task_names[task.task_id] }}
        </div>
        {% endfor %}
      {% endif %}
    </div>
  <h3 id="dice-result"></h3>
  <div class="main-container">
    <div class="class-buttons">
      <div class="enable-player-container">
        <select id="player-select" class="form-control" required>
          <option value="">Wybierz klasę</option>
          {% for player in players %}
          <option value="{{ player.id }}">{{ player.name }}</option>
          {% endfor %}
        </select>
        <button id="enable-player-button" onclick="enablePlayerButton()">Odblokuj</button>
      </div>
      <hr>
      {% for player in players %}
      <div class="player-button-container">
        <button id="roll-{{ player.id }}" data-player-id="{{ player.id }}" onclick="rollDiceForPlayer('{{ player.id }}')">{{ player.name }}</button>
        <span class="bonus-icon" onclick="showBonusModal('{{ player.id }}')">🎁</span>
      </div>
      {% endfor %}
    </div>
    <div class="chalkboard">
      <div class="snake-path">
      </div>
      <div class="pawns">
        {% for player in players %}
        <div class="pawn pawn-{{ loop.index }}" data-player-id="{{ player.id }}" data-position="0"><span>{{ player.name }}</span></div>
        {% endfor %}
      </div>
    </div>
    <div class="controls">
      <div class="dice-container">
        <div class="dice">
          <ol class="die-list even-roll" data-roll="1" id="die-1">
            <li class="die-item" data-side="1">
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="2">
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="3">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="4">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="5">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="6">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
          </ol>
        </div>
      </div>
      <table id="score-table">
        <thead>
          <tr>
            <th>Klasa</th>
            <th>Pole</th>
          </tr>
        </thead>
        <tbody>
          {% for player in players %}
          <tr data-player-id="{{ player.id }}">
            <td>{{ player.name }}</td>
            <td class="player-result">{{ player.result }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button id="reset-game">Resetuj grę</button>
    </div>
  </div>
  <div id="bonusModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeBonusModal()">&times;</span>
      <h2>Dostępne bonusy</h2>
      <ul id="bonus-list">
      </ul>
    </div>
  </div>

  <script type="module" src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/api.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/board.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/players.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/dice.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/notification.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/socket.io.js') }}"></script>
  <script type="module">
    import { enablePlayerButton, showBonusModal, closeBonusModal } from './static/js/board.js';
    document.getElementById('enable-player-button').onclick = enablePlayerButton;
    window.showBonusModal = showBonusModal;
    window.closeBonusModal = closeBonusModal;
  </script>
</body>
</html>